<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="channels">
            <h2><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.detail.title">Channels</span> {{channels.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.name">Name</span></dt>
                <dd>
                    <span>{{channels.name}}</span>
                </dd>
                <dt><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of channels.users; let last = last">
                        {{user.firstName}}{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt *ngIf="currentAccount && !currentAccount.company"><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.company">Company</span></dt>
                <dd>
                    <div *ngIf="currentAccount && !currentAccount.company">
                        <a [routerLink]="['/company', channels.company?.id, 'view']">{{channels.company?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/channels', channels.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
