<div>
    <h2 id="page-heading">
        <span jhiTranslate="sampleMultitenancyAppAngularApp.channels.home.title">Channels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-channels" [routerLink]="['/channels/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sampleMultitenancyAppAngularApp.channels.home.createLabel">
            Create a new Channels
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="channels?.length === 0">
        <span jhiTranslate="sampleMultitenancyAppAngularApp.channels.home.notFound">No channels found</span>
    </div>
    <div class="table-responsive" *ngIf="channels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.name">Name</span></th>
            <th><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.user">User</span></th>
            <th *ngIf="!currentAccount.company"><span jhiTranslate="sampleMultitenancyAppAngularApp.channels.company">Company</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let channels of channels ;trackBy: trackId">
                <td><a [routerLink]="['/channels', channels.id, 'view' ]">{{channels.id}}</a></td>
                <td>{{channels.name}}</td>
                <td>
                    <span *ngFor="let user of channels.users; let last = last">
                            {{user.firstName}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td *ngIf="!currentAccount.company">
                    <div *ngIf="channels.company">
                        <a [routerLink]="['/company', channels.company?.id, 'view' ]" >{{channels.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/channels', channels.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/channels', channels.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/channels', { outlets: { popup: channels.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
